data/API-Vol-1.pdf filter=lfs diff=lfs merge=lfs -text
data/API-Vol-2.1.pdf filter=lfs diff=lfs merge=lfs -text
data/API-Vol-2.2.pdf filter=lfs diff=lfs merge=lfs -text
data/API-Vol-2.3.pdf filter=lfs diff=lfs merge=lfs -text
data/API-Vol-2.4.pdf filter=lfs diff=lfs merge=lfs -text
data/API-Vol-2.5.pdf filter=lfs diff=lfs merge=lfs -text
data/API-Vol-2.pdf filter=lfs diff=lfs merge=lfs -text
data/API-Vol-3.pdf filter=lfs diff=lfs merge=lfs -text
data/API-Vol-4.pdf filter=lfs diff=lfs merge=lfs -text
data/API-Vol-5.pdf filter=lfs diff=lfs merge=lfs -text
data/API-Vol-6.pdf filter=lfs diff=lfs merge=lfs -text
data/API-Vol-7.pdf filter=lfs diff=lfs merge=lfs -text
data/Ayurveda_The_science_of_self_healing_by_Dr_Vasant_Lad.pdf filter=lfs diff=lfs merge=lfs -text
data/Ayurvedic_Cooking_for_Self_Healing_by_Usha_Lad_and_Dr_Vasant_Lad.pdf filter=lfs diff=lfs merge=lfs -text
data/Charaka_Samhita_by_Acharya_Charaka.pdf filter=lfs diff=lfs merge=lfs -text
data/The_Yoga_of_Herbs-An_Ayurvedic_guide_to_herbal_medicine_by_Dr_David_Frawley_and_Dr_Vasant_Lad.pdf filter=lfs diff=lfs merge=lfs -text
testing/edata/API-Vol-2.1.pdf filter=lfs diff=lfs merge=lfs -text
testing/edata/Ayurvedic_Cooking_for_Self_Healing_by_Usha_Lad_and_Dr_Vasant_Lad.pdf filter=lfs diff=lfs merge=lfs -text
vectorstore/db_faiss/index.faiss filter=lfs diff=lfs merge=lfs -text
vectorstore/db_faiss/index.pkl filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.faiss filter=lfs diff=lfs merge=lfs -text
data/*.pdf filter=lfs diff=lfs merge=lfs -text
vectorstore/db_faiss/*.faiss filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
